<h1>Random Product:</h1>

<h2><%= @product.name %></h2>
    <p>Price: <%= @product.price %></p>
    <p>Tax: <%= number_to_currency(@product.tax) %></p>
    <p>Total: <%= number_to_currency(@product.total) %></p>
    <p>Image: <%=@product.image %></p>
    <p>Description: <%= @product.description %></p>