  <div class="container">
    <p>Name: <%= @product.name %></p>
    <p>Price: <%= @product.price %></p>
    <p>Description: <%= @product.description %></p>

  <br></br>
  <a class="btn btn-default" href="/products/<@= @product.id %>/edit" role="button">Edit</a>

  <br></br>

    <%= form_tag "/products/#{@product.id}", method: :delete do %>
    <input type="submit" value="Delete product">
    <% end %>

   <br></br>
    <%= form_tag "/products/", method: :get do %>
    <input type="submit" value="Back to Listing">
    <% end %>

  </div>