  <div class="container">
    <p>Name: <%= @product.name %></p>
    <p>Price: <%= @product.price %></p>
    <p>Image: <%=@product.image %></p>
    <p>Description: <%= @product.description %></p>
    <p>Created at: <%= @product.created_at %></p>

  <div class="row">
  <br></br>
  <a class="btn btn-default" href="/products/<%= @product.id %>/edit" role="button">Edit</a>

  <a class="btn btn-default" href="/products/<%= @product.id %>/destroy" role="button">Delete Product</a>

  <a class="btn btn-default" href="../products" role="button">Back to Listings</a>
</div>
</div>