  <div class="container">
    <p>Name: <%= @product.name %></p>
    <p>Price: <%= @product.price %></p>
    <p>Description: <%= @product.description %></p>

  <div class="row">
  <br></br>
  <a class="btn btn-default" href="/products/<%= @product.id %>/edit" role="button">Edit</a>

  <a class="btn btn-default" href="/products/<%= @product.id %>/destroy" role="button">Delete Product</a>

  

    <a class="btn btn-default" href="/products/<%= @product.id %>/products" role="button">Back to Listing</a>
  </div>

  </div>